In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
file_list = [f for f in os.listdir("C:/Users/weizi/OneDrive - Texas A&M University/Publishing_Paper/PDE_Network_Modeling/2_RawData/District6_Raw") if f.endswith('.txt')]

In [3]:
print(file_list)

['d06_text_station_raw_2023_08_15.txt', 'd06_text_station_raw_2023_08_16.txt', 'd06_text_station_raw_2023_08_17.txt', 'd06_text_station_raw_2023_08_18.txt', 'd06_text_station_raw_2023_08_19.txt', 'd06_text_station_raw_2023_08_20.txt', 'd06_text_station_raw_2023_08_21.txt']

In [4]:
delimiter = ','  # Change this to the actual delimiter if it's different
data_all = pd.DataFrame()
for file_path in file_list:
    # Read the text file into a Pandas DataFrame
    df = pd.read_csv('C:/Users/weizi/OneDrive - Texas A&M University/Publishing_Paper/PDE_Network_Modeling/2_RawData/District6_Raw/' + file_path, delimiter=delimiter, header=None)
    # df = df.iloc[:, :12]
    # names = ['TimeStamp', 'Station', 'District', 'Freeway_#', 'Dir_Travel', 'Type', 'Length', 'Samples',
    #          'Observed_%', 'Total_Flow', 'Occupancy', 'Speed']
    names = ['TimeStamp', 'Station', 'flow_0', 'occu_0', 'speed_0', 
             'flow_1', 'occu_1', 'speed_1', 'flow_2', 'occu_2', 'speed_2',
             'flow_3', 'occu_3', 'speed_3','flow_4', 'occu_4', 'speed_4',
             'flow_5', 'occu_5', 'speed_5', 'flow_6', 'occu_6', 'speed_6', 
             'flow_7', 'occu_7', 'speed_7']
    df.columns = names
    # df = df[df['Type']=="ML"]

    data_all = pd.concat([data_all, df], ignore_index=True)

In [5]:
# data_all_observed = data_all[data_all['Observed_%'] > 0]
# summary_observed = data_all_observed.groupby('Station').size().reset_index(name='Count')

In [6]:
# metadata = pd.read_csv('Data_Raw/Archive/d06_text_meta_2023_08_08.txt', delimiter='\t')
# metadata = metadata[metadata['Type']=="ML"]

In [7]:
# metadata_obs = pd.merge(metadata, summary_observed, left_on='ID', right_on='Station' , how='left')

In [8]:
# data_all_observed

## Station Selection

In [9]:
# metadata_obs.to_csv('Data_Raw/Station_MetaData_d06.csv', index=False)

In [10]:
station_selected = pd.read_csv('Data_Raw/I5N_Exported.csv')
station_selected = station_selected[station_selected['Count'] == 2016]

In [11]:
station_selected

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4,Station,Count
1,601189,5,N,6,29,NaN,82.4070,287.524,35.732730,-119.739642,3.547,ML,2,TWISSELMAN RD - NB,1,NaN,NaN,NaN,601189.0,2016.0
2,601241,5,N,6,29,NaN,61.1820,266.299,35.486091,-119.516913,2.060,ML,2,S/O LERDO HWY - I5 NB,1,NaN,NaN,NaN,601241.0,2016.0
3,601277,5,N,6,29,NaN,70.5540,275.671,35.587296,-119.627630,3.778,ML,2,S/O RTE 46 - I5 NB,1,NaN,NaN,NaN,601277.0,2016.0
5,601279,5,N,6,29,NaN,62.9240,268.041,35.503831,-119.538840,2.020,ML,2,N/O LERDO HWY - I5 NB,1,NaN,NaN,NaN,601279.0,2016.0
6,601280,5,N,6,29,NaN,52.5700,257.687,35.403061,-119.402843,2.604,ML,2,JNO RTE 58 - I5 NB,1,NaN,NaN,NaN,601280.0,2016.0
7,601281,5,N,6,29,NaN,29.8660,234.983,35.170050,-119.120044,1.917,ML,2,3.62 MI S/O RTE 223 - I5 NB,1,NaN,NaN,NaN,601281.0,2016.0
10,601284,5,N,6,29,NaN,16.1740,221.291,35.022381,-118.960142,2.988,ML,2,JNO RTE 99 JCT - I5 NB,1,NaN,NaN,NaN,601284.0,2016.0
12,601286,5,N,6,29,NaN,8.3310,213.448,34.914506,-118.923609,3.421,ML,4,1.84 MI S/O GRAPEVINE RD - I5 NB,1,NaN,NaN,NaN,601286.0,2016.0
14,601310,5,N,6,29,NaN,39.1680,244.285,35.271319,-119.228751,1.995,ML,2,RTE 119 SEP 5 NB,1,NaN,NaN,NaN,601310.0,2016.0
15,601315,5,N,6,29,NaN,56.6220,261.739,35.442203,-119.456402,2.475,ML,2,7TH STANDARD RD 5 NB,1,NaN,NaN,NaN,601315.0,2016.0
17,601326,5,N,6,31,NaN,7.1205,299.262,35.875808,-119.852701,2.722,ML,2,WATERLOO AVE OC - IB NB,1,NaN,NaN,NaN,601326.0,2016.0
18,601335,5,N,6,19,NaN,30.6600,349.526,36.444085,-120.401418,4.675,ML,2,JNO RTE 33 (NEXT TO CMS 26) NB,1,NaN,NaN,NaN,601335.0,2016.0
22,601339,5,N,6,29,NaN,13.9930,219.110,34.993067,-118.947281,1.981,ML,4,WHEELER RIDGE RD - I5 NB,1,NaN,NaN,NaN,601339.0,2016.0
25,601357,5,N,6,29,NaN,32.0720,237.189,35.193824,-119.146126,1.827,ML,2,1.34 MI S OF RTE 223 NB (BEAR BL,1,NaN,NaN,NaN,601357.0,2016.0
28,601386,5,N,6,19,NaN,26.3100,345.176,36.392954,-120.355701,2.515,ML,2,3.17 MI S/O JCT 33 NB,1,NaN,NaN,NaN,601386.0,2016.0
30,601388,5,N,6,19,NaN,8.4500,327.316,36.172384,-120.190231,3.970,ML,2,N OF JAYNE AVE NB,1,NaN,NaN,NaN,601388.0,2016.0
32,601390,5,N,6,31,NaN,9.4450,301.587,35.902098,-119.878616,2.619,ML,2,SOUTH OF UTICA NB,1,NaN,NaN,NaN,601390.0,2016.0
34,601392,5,N,6,29,NaN,58.8030,263.920,35.463229,-119.485311,2.280,ML,2,0.5 MI NO BUTON WILLOW DR NB,1,NaN,NaN,NaN,601392.0,2016.0
36,601506,5,N,6,31,NaN,13.5180,305.660,35.947505,-119.925032,3.079,ML,2,N OF UTICA,1,NaN,NaN,NaN,601506.0,2016.0
37,601510,5,N,6,29,NaN,10.1730,215.290,34.939412,-118.929744,1.941,ML,4,GRAPEVINE RD - I5 NB,1,NaN,NaN,NaN,601510.0,2016.0
38,601516,5,N,6,29,NaN,43.9270,249.044,35.320704,-119.287451,3.669,ML,2,N OF RTE 43 - I5 NB,1,NaN,NaN,NaN,601516.0,2016.0
39,601518,5,N,6,29,NaN,48.6420,253.759,35.365470,-119.350584,4.321,ML,2,N OF STOCKDALE HWY - I5 NB,1,NaN,NaN,NaN,601518.0,2016.0
41,601589,5,N,6,31,NaN,25.1000,317.242,36.060874,-120.075363,2.682,ML,2,I-5 1.9 MI S/O RTE 269 NB,1,NaN,NaN,NaN,601589.0,2016.0
42,601590,5,N,6,19,NaN,0.2400,319.106,36.077043,-120.102109,2.706,ML,2,I-5 AT RTE 269 NB,1,NaN,NaN,NaN,601590.0,2016.0
45,601731,5,N,6,19,NaN,23.6200,342.486,36.361347,-120.327406,2.950,ML,2,I5 NB SOUTH OF COALINGA-MENDOTA,1,NaN,NaN,NaN,601731.0,2016.0
46,601732,5,N,6,19,NaN,25.6300,344.496,36.384978,-120.348524,0.895,ML,2,I5 NB NORTH OF COALINGA-MENDOTA,1,NaN,NaN,NaN,601732.0,2016.0
47,601734,5,N,6,31,NaN,4.0005,296.142,35.839368,-119.819753,2.970,ML,2,I5 8 MILES SO UTICA - NB,1,NaN,NaN,NaN,601734.0,2016.0
48,619972,5,N,6,29,NaN,84.5000,289.617,35.758773,-119.758794,3.546,ML,2,2 MILE NO TWISSELMAN RD - NB,1,NaN,NaN,NaN,619972.0,2016.0
49,619991,5,N,6,29,NaN,67.9980,273.115,35.559089,-119.598218,2.665,ML,2,5.4 MI NO LERDO HWY (AT CANAL) N,1,NaN,NaN,NaN,619991.0,2016.0

In [12]:
station_selected['PM_Dir'] = station_selected['Abs_PM'] - station_selected['Abs_PM'].min()
#station_selected['PM_Dir_round0.5'] = station_selected['PM_Dir'].apply(lambda x: round(x * 2) / 2)
#station_selected['Station_PM'] = station_selected['PM_Dir'].round(0)

station_selected['Station_PM'] = np.round(station_selected['PM_Dir'] / 2) * 2
station_selected['PM_Deviation'] = abs(station_selected['PM_Dir'] - station_selected['Station_PM'])

In [13]:
# select the stations where the deviation from integer mile is the smallest.
min_index = station_selected.groupby('Station_PM')['PM_Deviation'].idxmin()
station_selected = station_selected.loc[min_index]

In [14]:
station_selected['location_step'] = station_selected['Station_PM']/2
station_selected['Station_Number'] = station_selected['Station_PM'].rank(ascending=True)

In [15]:
# select the first 60 miles of I-5 North
station_selected = station_selected[(station_selected['Station_PM'] < 60) & (station_selected['Station_PM'] > 20)]

In [16]:
# station_selected.to_csv('Data_Raw/Station_Selected_I5N.csv', index=False)

In [17]:
order_match = station_selected[['ID', 'location_step']]
order_match = order_match.rename(columns={'location_step': 'Station_PM'})

In [18]:
ID_selected = station_selected['ID']
data_all_select = data_all[data_all['Station'].isin(ID_selected)].reset_index(drop=True)
data_all_select.loc[:, 'TimeStamp'] = pd.to_datetime(data_all_select['TimeStamp'])

In [19]:
data_all_select.loc[:,'flow'] = data_all_select.filter(like='flow_').sum(axis=1)

In [20]:
data_all_select.loc[:,'occu'] = data_all_select.filter(like='occu_').mean(axis=1)

In [21]:
weighted_speed = data_all_select[[f'speed_{i}' for i in range(8)]].multiply(data_all_select[[f'flow_{i}' for i in range(8)]].values, axis=0)
data_all_select.loc[:,'speed'] = weighted_speed.sum(axis=1, skipna=True) / data_all_select[[f'flow_{i}' for i in range(8)]].sum(axis=1, skipna=True)

In [22]:
data_all_select = data_all_select[['TimeStamp', 'Station', 'flow', 'occu', 'speed']]
data_all_select['TimeStamp'] = pd.to_datetime(data_all_select['TimeStamp'])
data_all_select.set_index('TimeStamp', inplace=True)

In [23]:
data_all_select['flow_speed'] = data_all_select['flow'] * data_all_select['speed']

In [24]:
data_all_select_resampled = data_all_select.groupby('Station').resample('2min').agg({
    'flow': 'sum',        # Sum for flow
    'occu': 'mean',   # Average for occupancy
    'flow_speed': 'sum'
})

In [25]:
data_all_select_resampled['speed'] = data_all_select_resampled['flow_speed']/data_all_select_resampled['flow']
data_all_select_resampled = data_all_select_resampled.drop(columns=['flow_speed'])
data_all_select_resampled.reset_index(inplace=True)

In [26]:
data_all_select_resampled['TimeDiff'] = ((data_all_select_resampled['TimeStamp'] - data_all_select_resampled['TimeStamp'].min()).dt.total_seconds())/60
data_all_select_resampled['TimeStep'] = 1 + (data_all_select_resampled['TimeDiff'] // 2)

In [27]:
#station_selected[station_selected['PM_Dir_round'].duplicated(keep=False)]

In [28]:
data_all_select = pd.merge(data_all_select_resampled, order_match, left_on='Station', right_on='ID' , how='left')

In [29]:
Flow = data_all_select[['TimeStep', 'Station_PM', 'flow']]
Flow['TimeStep'] = Flow['TimeStep'].astype(int)
Flow['Station_PM'] = Flow['Station_PM'].astype(int)

Occupancy = data_all_select[['TimeStep', 'Station_PM', 'occu']]
Occupancy['TimeStep'] = Occupancy['TimeStep'].astype(int)
Occupancy['Station_PM'] = Occupancy['Station_PM'].astype(int)

Speed = data_all_select[['TimeStep', 'Station_PM', 'speed']]
Speed['TimeStep'] = Speed['TimeStep'].astype(int)
Speed['Station_PM'] = Speed['Station_PM'].astype(int)

C:\Users\weizi\AppData\Local\Temp\ipykernel_100948\2773514643.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Flow['TimeStep'] = Flow['TimeStep'].astype(int)
C:\Users\weizi\AppData\Local\Temp\ipykernel_100948\2773514643.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Flow['Station_PM'] = Flow['Station_PM'].astype(int)
C:\Users\weizi\AppData\Local\Temp\ipykernel_100948\2773514643.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Occupancy['TimeStep'] = Occupancy['TimeStep'].astype(int)
C:\Users\weizi\AppData\Local\Temp\ipykernel_100948\2773514643.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Occupancy['Station_PM'] = Occupancy['Station_PM'].astype(int)
C:\Users\weizi\AppData\Local\Temp\ipykernel_100948\2773514643.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Speed['TimeStep'] = Speed['TimeStep'].astype(int)
C:\Users\weizi\AppData\Local\Temp\ipykernel_100948\2773514643.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Speed['Station_PM'] = Speed['Station_PM'].astype(int)

In [30]:
# renumber the station PM field from 0.
Flow['Station_PM'] = Flow['Station_PM'] - Flow['Station_PM'].min()
Occupancy['Station_PM'] = Occupancy['Station_PM'] - Occupancy['Station_PM'].min()
Speed['Station_PM'] = Speed['Station_PM'] - Speed['Station_PM'].min()

C:\Users\weizi\AppData\Local\Temp\ipykernel_100948\170357285.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Flow['Station_PM'] = Flow['Station_PM'] - Flow['Station_PM'].min()
C:\Users\weizi\AppData\Local\Temp\ipykernel_100948\170357285.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Occupancy['Station_PM'] = Occupancy['Station_PM'] - Occupancy['Station_PM'].min()
C:\Users\weizi\AppData\Local\Temp\ipykernel_100948\170357285.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Speed['Station_PM'] = Speed['Station_PM'] - Speed['Station_PM'].min()

## Final Data Cleaning

In [31]:
"""
Create a table with timestep and PM (posted Miles) as one-one match
"""
timestep_value = [i for i in range(1, Occupancy['TimeStep'].max() + 1) for _ in range(Occupancy['Station_PM'].max() + 1)]
PM_values = list(range(Occupancy['Station_PM'].max() + 1)) * Occupancy['TimeStep'].max()
Time_PM = pd.DataFrame({'TimeStep': timestep_value, 'Station_PM': PM_values})

In [32]:
Occupancy_all = pd.merge(Time_PM, Occupancy, on=['TimeStep', 'Station_PM'] , how='left')
Flow_all = pd.merge(Time_PM, Flow, on=['TimeStep', 'Station_PM'] , how='left')
Speed_all = pd.merge(Time_PM, Speed, on=['TimeStep', 'Station_PM'] , how='left')

In [33]:
Occupancy_all_wide = Occupancy_all.pivot(index='Station_PM', columns='TimeStep', values='occu')
Flow_all_wide = Flow_all.pivot(index='Station_PM', columns='TimeStep', values='flow')
Speed_all_wide = Speed_all.pivot(index='Station_PM', columns='TimeStep', values='speed')

In [34]:
Flow_wide = Flow.pivot(index='Station_PM', columns='TimeStep', values='flow')
Occupancy_wide = Occupancy.pivot(index='Station_PM', columns='TimeStep', values='occu')
Speed_wide = Speed.pivot(index='Station_PM', columns='TimeStep', values='speed')

In [35]:
Flow_all_wide.to_csv('Data_Clean/Flow_all.csv')
Occupancy_all_wide.to_csv('Data_Clean/Occupancy_all.csv')
Speed_all_wide.to_csv('Data_Clean/Speed_all.csv')

In [36]:
Flow_wide.to_csv('Data_Clean/Flow.csv')
Occupancy_wide.to_csv('Data_Clean/Occupancy.csv')
Speed_wide.to_csv('Data_Clean/Speed.csv')

In [37]:
Flow.to_csv('Data_Clean/Flow_Long.csv', index=False)
Occupancy.to_csv('Data_Clean/Occupancy_Long.csv', index=False)
Speed.to_csv('Data_Clean/Speed_Long.csv', index=False)

In [38]:
Flow_all.to_csv('Data_Clean/Flow_all_Long.csv', index=False)
Occupancy_all.to_csv('Data_Clean/Occupancy_all_Long.csv', index=False)
Speed_all.to_csv('Data_Clean/Speed_all_Long.csv', index=False)